.popup__save-button_disabled {
  opacity: 0.2;
  color: #000000;
  background: #FFFFFF;
  outline: 1px solid #000000;
  cursor: auto;
}

.popup__save-button_disabled:hover {
  background-color: #FFFFFF;
  cursor: auto;
}
