.popup__input_error {
  max-width: 75vw;
  width: 358px;
  height: 0;
  margin: 5px auto 0;
  padding: 0;
  visibility: hidden;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .popup__input_error {
    max-width: 62.5vw;
    font-size: 12px;
    line-height: 15px;
  }
}
