.profile__add-button {
  justify-self: self-end;
  margin: 35px 0 0 auto;
  padding: 0;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  border: 2px solid #ffffff;
  background-color: black;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: opacity .1s ease-in-out 0s;
  cursor: pointer;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .profile__add-button {
    width: 282px;
    margin: 36px 0 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile__add-button {

  }
}
