.popup__form {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 87.5vw;
  width: 430px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 1;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .popup__form {
    max-width: 75vw;
  }
}
