.profile__avatar-update-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/update-avatar-pencil.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity .1s ease-in-out, background-color .1s ease-in-out;
}


.profile__avatar-update-button:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}
