.element__like-button {
  width: 21px;
  height: 19px;
  padding: 0;
  margin: -1px 22px 0 auto;
  justify-self: end;
  align-self: start;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/like-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.element__like-button:hover {
  opacity: 0.6;
  transition: opacity .1s ease-in-out 0s;
  cursor: pointer;
}
